@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@300;400;700&display=swap'); // font-family: 'Chakra Petch', sans-serif;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Chakra Petch', sans-serif;
}

body {
    height: 100vh;
    background: #0F2027;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #2C5364, #203A43, #0F2027);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #2C5364, #203A43, #0F2027);
}

.wrapper {

    .resultCounter {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        height: 30vh;

        .dots {
            font-size: 120px;
            display: flex;
            align-items: center;
            color: #f4f4f4;
            margin-top: 20px;

        }

        .wins,
        .losess {
            display: flex;
            flex-direction: column;
            justify-items: center;
            font-size: 34px;
            color: #f4f4f4;
            padding: 20px;

            span {
                font-size: 148px;
                margin: auto;
                cursor: pointer;
            }
        }

    }

    .aiHand {
        height: 10vh;

    }

    .joiceBtns {
        width: 90vh;
        display: flex;
        justify-content: space-between;
        color: #f4f4f4;
        margin: auto;

        .btnScissors,
        .btnStone,
        .btnPaper {
            position: relative;
            width: 200px;
            height: 200px;
            border: solid #f4f4f4 8px;
            border-radius: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;

            .fas {
                font-size: 128px;
                position: absolute;
                top: 50%;
                left: 50%;
                margin-right: -50%;
                transform: translate(-50%, -50%)
            }

            .fa-hand-paper::before {
                width: 128px;
            }
        }


    }

    .result {
        height: 10vh;
        text-align: center;
        margin-top: 4vh;
        line-height: 10vh;
    }

    .result span {
        font-size: 80px;
        text-align: center;
        color: #FFFF;
    }


}