@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@300;400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Chakra Petch', sans-serif;
}

body {
  height: 100vh;
  background: #0F2027;
  /* fallback for old browsers */
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-gradient(linear, left bottom, left top, from(#2C5364), color-stop(#203A43), to(#0F2027));
  background: linear-gradient(to top, #2C5364, #203A43, #0F2027);
}

.wrapper .resultCounter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 30vh;
}

.wrapper .resultCounter .dots {
  font-size: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #f4f4f4;
  margin-top: 20px;
}

.wrapper .resultCounter .wins,
.wrapper .resultCounter .losess {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  justify-items: center;
  font-size: 34px;
  color: #f4f4f4;
  padding: 20px;
}

.wrapper .resultCounter .wins span,
.wrapper .resultCounter .losess span {
  font-size: 148px;
  margin: auto;
  cursor: pointer;
}

.wrapper .aiHand {
  height: 10vh;
}

.wrapper .joiceBtns {
  width: 90vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #f4f4f4;
  margin: auto;
}

.wrapper .joiceBtns .btnScissors,
.wrapper .joiceBtns .btnStone,
.wrapper .joiceBtns .btnPaper {
  position: relative;
  width: 200px;
  height: 200px;
  border: solid #f4f4f4 8px;
  border-radius: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}

.wrapper .joiceBtns .btnScissors .fas,
.wrapper .joiceBtns .btnStone .fas,
.wrapper .joiceBtns .btnPaper .fas {
  font-size: 128px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.wrapper .joiceBtns .btnScissors .fa-hand-paper::before,
.wrapper .joiceBtns .btnStone .fa-hand-paper::before,
.wrapper .joiceBtns .btnPaper .fa-hand-paper::before {
  width: 128px;
}

.wrapper .result {
  height: 10vh;
  text-align: center;
  margin-top: 4vh;
  line-height: 10vh;
}

.wrapper .result span {
  font-size: 80px;
  text-align: center;
  color: #FFFF;
}
/*# sourceMappingURL=style.css.map */